{% assign articles = include.articles | default: site.articles %}

{% if include.wherefield and include.wherevalue %}
  {% assign articles = articles | where: include.wherefield, include.wherevalue %}
{% endif %}
{% if include.sortby %}
  {% assign articles = articles | sort: include.sortby %}
{% endif %}
{% if include.limit %}
  {% assign articles = articles | slice: 0, include.limit %}
{% endif %}

{% for article in articles %}
  <article class="card">
    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
    {% if article.date %}
      <p class="card-date">{{ article.date | date: "%B %-d, %Y" }}</p>
    {% endif %}
    {% if article.excerpt %}
      <p class="card-excerpt">{{ article.excerpt | markdownify }}</p>
    {% endif %}
    <a href="{{ article.url }}" class="card-link">Read more</a>
  </article>
{% endfor %}
