<div>
    <nav>
        <span><a href="{{ site.baseurl }}">Home</a></span>
        <span><a href="{{ site.data.sitewide.linkedin }}" target="_blank">LinkedIn</a></span>
        <span><a href="{{ site.data.sitewide.muckrack }}" target="_blank">Muck Rack</a></span>
        <span><a href="{{ site.data.sitewide.instagram }}" target="_blank">Instagram</a></span>
     <span><a href="{{ site.baseurl }}/photography/">Photography</a></span>
    </nav>
</div>
<div>
    <span>&copy; 2026 Emmet Paradis. All rights reserved. </span>
</div>